'''<br>
    @Author: v sanjay kumar<br>
    @Date: 2024-09-06 04:00:30<br>
    @Last Modified by: v sanjay kumar<br>
    @Last Modified time: 2024-09-07 04:00:30.<br>
    @Title :All covid problems in pyspark <br>

'''

In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import max, round
from pyspark.sql.functions import coalesce, col

1.find death percentage  globaly  and localy

In [4]:
try:
    spark = SparkSession.builder \
        .appName("Find the global") \
        .getOrCreate()

    # Corrected file path
    file_path = r"file:///C:\Users\sanju\OneDrive\Documents\dataset\covid_19_clean_complete.csv"
    df_global = spark.read.csv(file_path, header=True, inferSchema=True)
    file_path = r"file:///C:\Users\sanju\OneDrive\Documents\dataset\Covid Problem\covid_19_india.csv"
    df_local = spark.read.csv(file_path, header=True, inferSchema=True)
    df_local.createOrReplaceTempView("covid_19_india")
    df_global.createOrReplaceTempView("country")
    global_result = spark.sql('''
    SELECT `Country/Region`, 
           ROUND((SUM(Deaths) * 100.0 / SUM(Confirmed)), 4) AS Death_percentage
    FROM country
    GROUP BY `Country/Region`
''')
   
    local_result=spark.sql('''
    SELECT `State/UnionTerritory`, 
           ROUND((SUM(CAST(Deaths AS INT)) * 100.0) / SUM(CAST(Confirmed AS INT)), 2) AS Death_percentage
    FROM covid_19_india
    GROUP BY `State/UnionTerritory`
    ORDER BY `State/UnionTerritory`
''')
    print("---------global percentage ---------")
    global_result.show()
    print("----------local_percentage-----------")
    local_result.show()
    spark.stop()

except Exception as e:
    print(e)

---------global percentage ---------
+--------------+----------------+
|Country/Region|Death_percentage|
+--------------+----------------+
|          Chad|          8.5993|
|      Paraguay|          1.0635|
|        Russia|          1.3640|
|         Yemen|         26.3575|
|       Senegal|          1.5353|
|    Cabo Verde|          1.0322|
|        Sweden|          9.0267|
|        Guyana|          7.0512|
|       Eritrea|          0.0000|
|   Philippines|          3.7305|
|         Burma|          2.5369|
|      Djibouti|          0.8956|
|      Malaysia|          1.4792|
|     Singapore|          0.0697|
|          Fiji|          0.0000|
|        Turkey|          2.6032|
|        Malawi|          1.8290|
|Western Sahara|          6.9922|
|          Iraq|          3.9239|
|       Germany|          4.1375|
+--------------+----------------+
only showing top 20 rows

----------local_percentage-----------
+--------------------+----------------+
|State/UnionTerritory|Death_percentage|
+--------------------+----------------+
|Andaman and Nicob...|            1.40|
|      Andhra Pradesh|            0.75|
|   Arunachal Pradesh|            0.37|
|               Assam|            0.64|
|               Bihar|            0.83|
|           Bihar****|            1.32|
|Cases being reass...|            0.00|
|          Chandigarh|            1.36|
|        Chhattisgarh|            1.26|
|Dadra and Nagar H...|            0.04|
|Dadra and Nagar H...|            0.05|
|         Daman & Diu|            0.00|
|               Delhi|            1.72|
|                 Goa|            1.59|
|             Gujarat|            1.55|
|             Haryana|            1.12|
|    Himachal Pradesh|            1.64|
|   Himanchal Pradesh|            1.71|
|   Jammu and Kashmir|            1.44|
|           Jharkhand|            1.21|
+--------------------+----------------+
only showing top 20 rows

2. To find out the infected population percentage locally and globally

In [10]:
try:
    # Start Spark session
    spark = SparkSession.builder \
        .appName("Find the infected population percentage") \
        .getOrCreate()

    # Load local dataset (India specific)
    file_path_local = r"file:///C:/Users/sanju/OneDrive/Documents/dataset/Covid Problem/covid_19_india.csv"
    df = spark.read.csv(file_path_local, header=True, inferSchema=True)
    df.createOrReplaceTempView("country")
    global_infected=spark.sql('''
    SELECT 
    `State/UnionTerritory`, 
        SUM(`Confirmed`) AS Total_Cases, 
        SUM(`ConfirmedIndianNational`) AS Total_Active,
        (SUM(`ConfirmedIndianNational`) * 100.0 / SUM(`Confirmed`)) AS Globally_Infected_percentage
    FROM 
        country
    GROUP BY 
        `State/UnionTerritory` ''')
    localy_infected=spark.sql('''
    SELECT 
    `State/UnionTerritory`, 
    SUM(`Confirmed`) AS Total_Confirmed, 
    SUM(`Cured`) AS Total_Cured,
    CASE 
        WHEN SUM(`Confirmed`) > 0 THEN 
            100 - (SUM(`Cured`) * 100.0 / SUM(`Confirmed`))
        ELSE 
            NULL 
    END AS locally_Infected
    FROM 
        country
    GROUP BY 
        `State/UnionTerritory`
''')
    print("-----------globla infected percentage----------")
    global_infected.show()
    print("-----------local infected percentage-----------")
    localy_infected.show()
    spark.stop()


except Exception as e:
    print(e)

-----------globla infected percentage----------
+--------------------+-----------+------------+----------------------------+
|State/UnionTerritory|Total_Cases|Total_Active|Globally_Infected_percentage|
+--------------------+-----------+------------+----------------------------+
|            Nagaland|    5041742|        NULL|                        NULL|
|           Karnataka|  485970693|       405.0|        8.333835884214524E-5|
|              Odisha|  160130533|        23.0|        1.436328198570350...|
|              Kerala|  458906023|      1091.0|        2.377393072480986E-4|
|              Ladakh|    4054293|       162.0|         0.00399576448964098|
|Dadra and Nagar H...|    1938632|        NULL|                        NULL|
|          Tamil Nadu|  431928644|       138.0|        3.194972176932076...|
|           Telengana|   69990668|       246.0|        3.514754281242179...|
|        Chhattisgarh|  163776262|        25.0|        1.526472743650725...|
|      Maharashtra***|    6229596|        NULL|                        NULL|
|      Andhra Pradesh|  392432753|        81.0|        2.064047900711284...|
|         Lakshadweep|     915784|        NULL|                        NULL|
|      Madhya Pradesh|  135625265|       105.0|        7.741920356800777E-5|
|              Punjab|   99949702|       231.0|        2.311162468498405...|
|             Manipur|   12617943|         5.0|        3.962611021463641E-5|
|         Daman & Diu|          2|        NULL|                        NULL|
|Cases being reass...|     345565|        NULL|                        NULL|
|                 Goa|   28240159|         9.0|        3.186950895000272E-5|
|             Mizoram|    2984732|         4.0|        1.340153822855787...|
|           Bihar****|    1430909|        NULL|                        NULL|
+--------------------+-----------+------------+----------------------------+
only showing top 20 rows

-----------local infected percentage-----------
+--------------------+---------------+-----------+-----------------+
|State/UnionTerritory|Total_Confirmed|Total_Cured| locally_Infected|
+--------------------+---------------+-----------+-----------------+
|            Nagaland|        5041742|    4519526| 10.3578485372714|
|           Karnataka|      485970693|  441844360|  9.0800399356593|
|              Odisha|      160130533|  150923455|  5.7497329381899|
|              Kerala|      458906023|  420174235|  8.4400260747940|
|              Ladakh|        4054293|    3758960|  7.2844513211058|
|Dadra and Nagar H...|        1938632|    1841750|  4.9974414948273|
|          Tamil Nadu|      431928644|  404095807|  6.4438507116004|
|           Telengana|       69990668|   64666267|  7.6073013047968|
|        Chhattisgarh|      163776262|  151609364|  7.4289752687114|
|      Maharashtra***|        6229596|    6000911|  3.6709443116375|
|      Andhra Pradesh|      392432753|  370426530|  5.6076417760166|
|         Lakshadweep|         915784|     820925| 10.3582285779179|
|      Madhya Pradesh|      135625265|  126724997|  6.5623967628745|
|              Punjab|       99949702|   91458159|  8.4958162256452|
|             Manipur|       12617943|   11230568| 10.9952549318062|
|         Daman & Diu|              2|          0|100.0000000000000|
|Cases being reass...|         345565|          0|100.0000000000000|
|                 Goa|       28240159|   26027201|  7.8362094207756|
|             Mizoram|        2984732|    2384602| 20.1066628427611|
|           Bihar****|        1430909|    1402468|  1.9876176612209|
+--------------------+---------------+-----------+-----------------+
only showing top 20 rows

3.The countries with the highest infection rates

In [28]:
try:
    spark = SparkSession.builder \
        .appName("Find the global and local death percentage") \
        .getOrCreate()

    # Corrected file path
    file_path = r"file:///C:\Users\sanju\OneDrive\Documents\dataset\country_wise_latest.csv"
    

    # Read the CSV file into a DataFrame
    df = spark.read.csv(file_path, header=True, inferSchema=True)
    df.printSchema()
    # df.show()
    df.createOrReplaceTempView("country")
    result = spark.sql('''
    SELECT `Country/Region`, 
           ROUND((CAST(`Confirmed` AS FLOAT) / (SELECT SUM(CAST(`Confirmed` AS FLOAT)) FROM country)) * 100, 2) AS Infection_Rate_Percentage
    FROM country
    GROUP BY `Country/Region`, `Confirmed`
    ORDER BY Infection_Rate_Percentage DESC
''')

    result.show(10)
    
    spark.stop()

except Exception as e:
    print(e)

root
 |-- Country/Region: string (nullable = true)
 |-- Confirmed: integer (nullable = true)
 |-- Deaths: integer (nullable = true)
 |-- Recovered: integer (nullable = true)
 |-- Active: integer (nullable = true)
 |-- New cases: integer (nullable = true)
 |-- New deaths: integer (nullable = true)
 |-- New recovered: integer (nullable = true)
 |-- Deaths / 100 Cases: double (nullable = true)
 |-- Recovered / 100 Cases: double (nullable = true)
 |-- Deaths / 100 Recovered: string (nullable = true)
 |-- Confirmed last week: integer (nullable = true)
 |-- 1 week change: integer (nullable = true)
 |-- 1 week % increase: double (nullable = true)
 |-- WHO Region: string (nullable = true)

+--------------+-------------------------+
|Country/Region|Infection_Rate_Percentage|
+--------------+-------------------------+
|            US|                    26.03|
|        Brazil|                    14.82|
|         India|                     8.98|
|        Russia|                     4.96|
|  South Africa|                     2.75|
|        Mexico|                      2.4|
|          Peru|                     2.36|
|         Chile|                     2.11|
|United Kingdom|                     1.83|
|          Iran|                     1.78|
+--------------+-------------------------+
only showing top 10 rows

4.The countries and continents with the highest death counts

In [30]:
try:
    spark = SparkSession.builder \
        .appName("Find hight death counts") \
        .getOrCreate()

    # Corrected file path
    file_path = r"file:///C:\Users\sanju\OneDrive\Documents\dataset\country_wise_latest.csv"
    

    # Read the CSV file into a DataFrame
    df = spark.read.csv(file_path, header=True, inferSchema=True)
    df.printSchema()
    # df.show()
    df.createOrReplaceTempView("country")
    result = spark.sql('''
        
    SELECT `Country/Region`,`WHO Region`, Deaths
    FROM country
    ORDER BY Deaths DESC;
    
''')

    result.show(10)
    
    spark.stop()

except Exception as e:
    print(e)

root
 |-- Country/Region: string (nullable = true)
 |-- Confirmed: integer (nullable = true)
 |-- Deaths: integer (nullable = true)
 |-- Recovered: integer (nullable = true)
 |-- Active: integer (nullable = true)
 |-- New cases: integer (nullable = true)
 |-- New deaths: integer (nullable = true)
 |-- New recovered: integer (nullable = true)
 |-- Deaths / 100 Cases: double (nullable = true)
 |-- Recovered / 100 Cases: double (nullable = true)
 |-- Deaths / 100 Recovered: string (nullable = true)
 |-- Confirmed last week: integer (nullable = true)
 |-- 1 week change: integer (nullable = true)
 |-- 1 week % increase: double (nullable = true)
 |-- WHO Region: string (nullable = true)

+--------------+--------------------+------+
|Country/Region|          WHO Region|Deaths|
+--------------+--------------------+------+
|            US|            Americas|148011|
|        Brazil|            Americas| 87618|
|United Kingdom|              Europe| 45844|
|        Mexico|            Americas| 44022|
|         Italy|              Europe| 35112|
|         India|     South-East Asia| 33408|
|        France|              Europe| 30212|
|         Spain|              Europe| 28432|
|          Peru|            Americas| 18418|
|          Iran|Eastern Mediterra...| 15912|
+--------------+--------------------+------+
only showing top 10 rows

5.Average number of deaths by day (Continents and Countries)

In [6]:
try:
    spark = SparkSession.builder \
        .appName("Avarage number of deaths") \
        .getOrCreate()

    # Corrected file path
    file_path = r"file:///C:\Users\sanju\OneDrive\Documents\dataset\worldometer_data.csv"
    

    # Read the CSV file into a DataFrame
    df = spark.read.csv(file_path, header=True, inferSchema=True)
    df.printSchema()
    df.createOrReplaceTempView("worldometer_data")
    result = spark.sql('''
    SELECT
        `Country/Region`,
        Population,
        TotalCases,
        CASE 
            WHEN Population = 0 THEN NULL
            ELSE CAST(TotalCases AS FLOAT) / CAST(Population AS FLOAT)
        END AS CasesPerPopulation
    FROM
        worldometer_data
    WHERE
        Population RLIKE '^[0-9]+$'
        AND TotalCases RLIKE '^[0-9]+$'
        AND CAST(Population AS FLOAT) <> 0
    ORDER BY
        CasesPerPopulation DESC ''')
    result.show(10)

    spark.stop()


except Exception as e:
    print(e)

root
 |-- Country/Region: string (nullable = true)
 |-- Continent: string (nullable = true)
 |-- Population: integer (nullable = true)
 |-- TotalCases: integer (nullable = true)
 |-- NewCases: integer (nullable = true)
 |-- TotalDeaths: integer (nullable = true)
 |-- NewDeaths: integer (nullable = true)
 |-- TotalRecovered: integer (nullable = true)
 |-- NewRecovered: integer (nullable = true)
 |-- ActiveCases: integer (nullable = true)
 |-- Serious,Critical: integer (nullable = true)
 |-- Tot Cases/1M pop: integer (nullable = true)
 |-- Deaths/1M pop: double (nullable = true)
 |-- TotalTests: integer (nullable = true)
 |-- Tests/1M pop: integer (nullable = true)
 |-- WHO Region: string (nullable = true)

+--------------+-------------+----------+----------+--------+-----------+---------+--------------+------------+-----------+----------------+----------------+-------------+----------+------------+--------------------+
|Country/Region|    Continent|Population|TotalCases|NewCases|TotalDeaths|NewDeaths|TotalRecovered|NewRecovered|ActiveCases|Serious,Critical|Tot Cases/1M pop|Deaths/1M pop|TotalTests|Tests/1M pop|          WHO Region|
+--------------+-------------+----------+----------+--------+-----------+---------+--------------+------------+-----------+----------------+----------------+-------------+----------+------------+--------------------+
|           USA|North America| 331198130|   5032179|    NULL|     162804|     NULL|       2576668|        NULL|    2292707|           18296|           15194|        492.0|  63139605|      190640|            Americas|
|        Brazil|South America| 212710692|   2917562|    NULL|      98644|     NULL|       2047660|        NULL|     771258|            8318|           13716|        464.0|  13206188|       62085|            Americas|
|         India|         Asia|1381344997|   2025409|    NULL|      41638|     NULL|       1377384|        NULL|     606387|            8944|            1466|         30.0|  22149351|       16035|      South-EastAsia|
|        Russia|       Europe| 145940924|    871894|    NULL|      14606|     NULL|        676357|        NULL|     180931|            2300|            5974|        100.0|  29716907|      203623|              Europe|
|  South Africa|       Africa|  59381566|    538184|    NULL|       9604|     NULL|        387316|        NULL|     141264|             539|            9063|        162.0|   3149807|       53044|              Africa|
|        Mexico|North America| 129066160|    462690|    6590|      50517|      819|        308848|        4140|     103325|            3987|            3585|        391.0|   1056915|        8189|            Americas|
|          Peru|South America|  33016319|    455409|    NULL|      20424|     NULL|        310337|        NULL|     124648|            1426|           13793|        619.0|   2493429|       75521|            Americas|
|         Chile|South America|  19132514|    366671|    NULL|       9889|     NULL|        340168|        NULL|      16614|            1358|           19165|        517.0|   1760615|       92022|            Americas|
|      Colombia|South America|  50936262|    357710|    NULL|      11939|     NULL|        192355|        NULL|     153416|            1493|            7023|        234.0|   1801835|       35374|            Americas|
|         Spain|       Europe|  46756648|    354530|    NULL|      28500|     NULL|          NULL|        NULL|       NULL|             617|            7582|        610.0|   7064329|      151087|              Europe|
|          Iran|         Asia|  84097623|    320117|    NULL|      17976|     NULL|        277463|        NULL|      24678|            4156|            3806|        214.0|   2612763|       31068|EasternMediterranean|
|            UK|       Europe|  67922029|    308134|    NULL|      46413|     NULL|          NULL|        NULL|       NULL|              73|            4537|        683.0|  17515234|      257873|              Europe|
|  Saudi Arabia|         Asia|  34865919|    284226|    NULL|       3055|     NULL|        247089|        NULL|      34082|            1915|            8152|         88.0|   3635705|      104277|EasternMediterranean|
|      Pakistan|         Asia| 221295851|    281863|    NULL|       6035|     NULL|        256058|        NULL|      19770|             809|            1274|         27.0|   2058872|        9304|EasternMediterranean|
|    Bangladesh|         Asia| 164851401|    249651|    NULL|       3306|     NULL|        143824|        NULL|     102521|            NULL|            1514|         20.0|   1225124|        7432|      South-EastAsia|
|         Italy|       Europe|  60452568|    249204|    NULL|      35187|     NULL|        201323|        NULL|      12694|              42|            4122|        582.0|   7099713|      117443|              Europe|
|        Turkey|         Asia|  84428331|    237265|    NULL|       5798|     NULL|        220546|        NULL|      10921|             580|            2810|         69.0|   5081802|       60191|              Europe|
|     Argentina|South America|  45236884|    228195|    NULL|       4251|     NULL|         99852|        NULL|     124092|            1150|            5044|         94.0|    794544|       17564|            Americas|
|       Germany|       Europe|  83811260|    215210|    NULL|       9252|     NULL|        196200|        NULL|       9758|             236|            2568|        110.0|   8586648|      102452|              Europe|
|        France|       Europe|  65288306|    195633|    NULL|      30312|     NULL|         82460|        NULL|      82861|             384|            2996|        464.0|   3992206|       61147|              Europe|
+--------------+-------------+----------+----------+--------+-----------+---------+--------------+------------+-----------+----------------+----------------+-------------+----------+------------+--------------------+
only showing top 20 rows


[PARSE_SYNTAX_ERROR] Syntax error at or near '#'.(line 2, pos 4)

== SQL ==

    # SELECT
----^^^
    #     `Country/Region`,
    #     Population,
    #     TotalCases,
    #     CASE
    #         WHEN Population = 0 THEN NULL
    #         ELSE CAST(TotalCases AS FLOAT) / CAST(Population AS FLOAT)
    #     END AS CasesPerPopulation
    # FROM
    #     worldometer_data
    # WHERE
    #     Population RLIKE '^[0-9]+$'
    #     AND TotalCases RLIKE '^[0-9]+$'
    #     AND CAST(Population AS FLOAT) <> 0
    # ORDER BY
    #     CasesPerPopulation DESC

 6.Average of cases divided by the number of population of each country (TOP 10)

In [12]:
try:
    spark = SparkSession.builder \
        .appName("Avarage of cases divided by the population") \
        .getOrCreate()

    # Corrected file path
    file_path = r"file:///C:\Users\sanju\OneDrive\Documents\dataset\worldometer_data.csv"
    

    # Read the CSV file into a DataFrame
    df = spark.read.csv(file_path, header=True, inferSchema=True)
    df.printSchema()
    df.createOrReplaceTempView("worldometer_data")
    result=spark.sql('''
    SELECT `Country/Region`,
           CAST(Population AS FLOAT) AS Population,
           CAST(TotalCases AS FLOAT) AS TotalCases,
           CASE 
               WHEN CAST(Population AS FLOAT) = 0 THEN NULL
               ELSE CAST(TotalCases AS FLOAT) / CAST(Population AS FLOAT)
           END AS CasesPerPopulation
    FROM worldometer_data
    WHERE Population RLIKE '^[0-9]+$'
      AND TotalCases RLIKE '^[0-9]+$'
      AND CAST(Population AS FLOAT) <> 0
    ORDER BY CasesPerPopulation DESC
''')
    result.show(10)

    spark.stop()


except Exception as e:
    print(e)

root
 |-- Country/Region: string (nullable = true)
 |-- Continent: string (nullable = true)
 |-- Population: integer (nullable = true)
 |-- TotalCases: integer (nullable = true)
 |-- NewCases: integer (nullable = true)
 |-- TotalDeaths: integer (nullable = true)
 |-- NewDeaths: integer (nullable = true)
 |-- TotalRecovered: integer (nullable = true)
 |-- NewRecovered: integer (nullable = true)
 |-- ActiveCases: integer (nullable = true)
 |-- Serious,Critical: integer (nullable = true)
 |-- Tot Cases/1M pop: integer (nullable = true)
 |-- Deaths/1M pop: double (nullable = true)
 |-- TotalTests: integer (nullable = true)
 |-- Tests/1M pop: integer (nullable = true)
 |-- WHO Region: string (nullable = true)

+--------------+------------+----------+--------------------+
|Country/Region|  Population|TotalCases|  CasesPerPopulation|
+--------------+------------+----------+--------------------+
|         Qatar|   2807805.0|  112092.0|0.039921575750452756|
| French Guiana|    299385.0|    8127.0|0.027145648579588157|
|       Bahrain|   1706669.0|   42889.0| 0.02513023907975126|
|    San Marino|     33938.0|     699.0|0.020596381637102954|
|         Chile| 1.9132514E7|  366671.0|0.019164810228284687|
|        Panama|   4321282.0|   71418.0| 0.01652703989232825|
|        Kuwait|   4276658.0|   70045.0|0.016378443167538764|
|          Oman|   5118446.0|   80713.0|0.015769043963734304|
|           USA|3.31198144E8| 5032179.0|0.015193862960518527|
|  Vatican City|       801.0|      12.0|  0.0149812734082397|
+--------------+------------+----------+--------------------+
only showing top 10 rows